@media (max-width: 960px) {
    .showcase {
      height: 90vh;
    }
  
    .hide-sm {
      display: none;
    }
  
    .showcase-top img {
      top: 30%;
      left: 5%;
      transform: translate(0);
    }
  
    .showcase-top a {
      top: 30%;
      right: 5%;
      transform: translate(0);
    }
  
    .showcase-content h1 {
      font-size: 2rem;
    }
  
    .showcase-content p {
      font-size: 1rem;
    }
  
    .footer .footer-cols {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .btn-xl {
      font-size: 1rem;
      padding: 1rem 1.2rem;
    }
  
    .btn-lg {
      font-size: 0.8rem;
      padding: 0.8rem 1rem;
    }
  
    .text-xl {
      font-size: 1.5rem;
    }
  
    .text-lg {
      font-size: 1.2rem;
    }
  
    .text-md {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 700px) {
    .showcase::after {
      box-shadow: inset 50px 50px 150px #000, inset -50px -50px 150px #000;
    }
  
    .container {
      max-width: 90%;
      margin: auto;
      overflow: hidden;
      padding: 0px 0.1rem;
    }
  
    #tab-1-content .tab-1-content-inner {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    #tab-2-content .tab-2-content-top {
      display: block;
      text-align: center;
    }
  
    #tab-2-content .tab-2-content-bottom {
      grid-template-columns: 1fr;
    }
  
    .btn-lg {
      font-size: 1rem;
      padding: 0.8rem 1rem;
      text-transform: uppercase;
    }
  
    .tab-item > i {
      font-size: 1.3rem;
    }
  
    .footer .footer-cols {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 500px) {
    .showcase-top img {
      width: 130px;
    }
  }